@extends('layouts.app')

@section('content')

<section style="background-color: #061e2a;height:500px;margin-top:0px;">
 
        <div class="row detail">
            <div class="headerImg">
                <img src="{{$filme->img}}" alt="{{$filme->name}}" class="detailImg">
            </div>
            <div class="headerInformation">
                <div>
                    <h1 class="titre">{{$filme->name}}</h1>
                    <span class="genre">Genre : {{$filme->genre}}</span>
                    <div class="query">Directeur : <span>{{$filme->directeur}}</span></div>

                </div>
                <div>
                    <div class="query">Année : <span>{{$filme->year}}</span></div>
                    <span class="genre" style=""> <span>Durée : </span>{{$filme->duration}} </span>

                </div>
                <div>
                    <a href="#tickets" class="btn btn-green"><i class="fas fa-shopping-cart	 icon-ml icon"></i>Ticket</a>
                    <a href="#player" data-iframe="" class="btn btn-red mr gradient modal-btn"><i class="fas fa-play icon-ml icon" ></i>Tiser</a>
                    <a href="#comments" id="btnShowcomment" class="btn btn-cream"><i class="far fa-comment icon-ml icon"></i>Comment</a>
                </div>
            </div>
        </div>
    </section>
        <div class="row">
            <div>
                <h2>Les Acteurs</h2>
                    
              @foreach ($actors as $actor)
                     <span>{{$actor->name}}</span>
                     <span>{{$actor->family}},</span>        
              @endforeach
            </div>
            <div>
                <h2>Résumé Du Film {{$filme->name}}</h2>
                <p>{{$filme->description}}</p>
            </div>
            <div class="filmimg" >
                @foreach ($filmeImgs as $filmeImg)
                    <div><img class= "" src="{{$filmeImg->img}}"/></div>
                @endforeach
            </div>
            <div>
                <input type="text">
            </div>
        <h3>Les Cinémas et les Séances du film{{$filme->name}}</h3>
            <div class="row">
                

                @foreach ($cinemas as $cinema)
                
                    <div>
                        <img class="detailImgCinema" src="{{$cinema->img}}"/>
                        <span>{{$cinema->name}}</span>
                        <span>{{$cinema->adresse}}</span>
                         <button  name="seanceBtn" onclick="ShowSeance()" class="custom-btn btn-14">les seances</button>
                        <div id="timeSeance" style="display:none">
                        <header><i>{{date('l')}}  {{ date('Y-m-d') }}</i></header>
                            <div class="row">
                                @foreach ($seances as $seance)
                                            @if($seance->cinema_id == $cinema->id)
                                             
                                             <a href="{{URL::to('filmes/payement/' . $seance->id)}}">
                                                <div>
                                                <p>seance time : {{$seance->seance}}</p>
                                                    <p>salon </p>
                                                    <p>{{$seance->prix}} CHF</p>
                                                    
                                                </div>
                                            <button >Achet De biellts</button>
                                            </a>



                                            @endif
                                        @endforeach




                                
                            </div>
                        </div>
                    </div>
                @endforeach
            </div>
        

        </div>
    </div>
@endsection





nemidonam baraye chi boud vali dar safhe asli boud 'welcome page'

<script type="text/javascript">
    $(window).load(function() {
      
      $("#flexiselDemo1").flexisel({
        visibleItems: 6,
        animationSpeed: 1000,
        autoPlay: true,
        autoPlaySpeed: 3000,    		
        pauseOnHover: false,
        enableResponsiveBreakpoints: true,
        responsiveBreakpoints: { 
          portrait: { 
            changePoint:480,
            visibleItems: 2
          }, 
          landscape: { 
            changePoint:640,
            visibleItems: 3
          },
          tablet: { 
            changePoint:768,
            visibleItems: 4
          }
        }
      });
      });
    </script>
    <script type="text/javascript" src="js/jquery.flexisel.js"></script>	
    </div>
   