/* Navbar */

.navbarMenu {
    background-color: #061e2a;
  }
  .navbar-dark .navbar-nav .nav-link, .active {
    color: #ec7532;
    font-weight: bold;
    
  } 
  .navbarMenu li a {
    padding: 0 30px;
    font-size: 1.2rem;
  }
  .navbar-dark .navbar-brand {
    color: #ec7532;
    font-size: 1.7rem;
    font-weight: bold;
  
  
  }