.header_detail{
    display: flex;
    background-image : url(https://cinematicket.org/build/images/tmp/profile_movie_cover_blurred.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.cover{
    
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 20px;
}

.header_detail .cardImg {
    width: 13.5rem;
    margin-bottom: -2rem;
    max-width: 100%;
}

.cardImg {
    display: block;
    position: relative;
    margin-bottom: 1rem;
    color: #312e2e;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .25s ease-in-out;

}

.header_detail .ageRangeParent {
    position: relative;
}
.cardImg .cover {
    box-shadow: 0 1.5px 6px rgba(0,0,0,.12);
    transition: all .23s ease-in-out;
}

.cardImg .cover, .cardImg .cover img {
    position: relative;
    border-radius: 4px;
}

.cardImg .cover img {
    display: block;
    background-color: #f2f3f5;
    margin: 0 auto;
    object-fit: cover;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    will-change: opacity,transform;
    transition: all .25s ease-in;
    transition-timing-function: cubic-bezier(.68,-.55,.27,1.55);
    transform-origin: top center;
    z-index: 1;
}
img {
    border: 0;
}
.filmimg{
    background-color:blue;
     display : flex;
     width: 100%;

}

.tab{
    border:solid 1px green;
    color: rgb(218, 97, 97);
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}


/* --------------------Detail-Blade-css-----------------------*/

.detail{
    background-color: sandybrown;
    height: 190px;
    margin-top: 40px;
}
.detailImg{
    width: 190px;
    height: 250px;
    margin-left: 30px;
    margin-top: -30px;
}
.headerInformation{
    margin-left: 15px;
}
.icon{
    margin-right: 5px;
}
.detailImgCinema{
    width: 150px;
    height: 150px;
    border-radius: 3rem;
    margin-bottom: 5px;
    margin-top: 5px;
}
/* 14 */

.frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
  }
  button {
    margin: 20px;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
.btn-14 {
    background: rgb(255,151,0);
    border: none;
    z-index: 1;
  }
  .btn-14:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #eaf818;
    background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
  }
  .btn-14:hover {
    color: #000;
  }
  .btn-14:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  .btn-14:active {
    top: 2px;
  }

/*.............PAGE OF DETAIL.BLADE.PHP..............*/

.imgDetail{
    width: 200px;
    height: 250px;
}

