html, body {
    background-color: #000000;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
    color:#ec7532 ;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

 

.links > a {
    color: #ec7532;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
a:hover {
    color: rgb(235, 207, 129);
    background-color: transparent;
    text-decoration: underline;
}

.navbarMenu {
  background-color: #000000;
}
.navbar-dark .navbar-nav .nav-link, .active, .footer-top .logo a {
  color: #ec7532;
  font-weight: bold;
  
} 
.footer-top .logo a {
  font-size: 1.5rem;
} 
.navbarMenu li a {
  padding: 0 30px;
  font-size: 1.2rem;
}
.navbar-dark .navbar-brand {
  color: #ec7532;
  font-size: 1.7rem;
  font-weight: bold;


}
/*...............Modal ..............*/
#modal{
    background: rgb(167, 248, 248);
    color: white;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.flex-container {
        display: flex;
        flex-wrap: wrap;
}

.welcomeImgs{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-left: 20px;
    margin-top: 30px;
    width: 300px !important;

}
.welcomeImgs img{
    width: 300px !important;
    height: 370px;
}
div.containerimg {
    text-align: center;
    padding: 10px 20px;
  }
  .welcomeImgs p{

        font-family: "Times New Roman", Times, serif;
        font-size: large;
        color: rgb(46, 64, 83 );
        font-weight: bold;
    
  }


/*............... CAROUSEL ..............*/

  .carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    background-color: #ec7532;


 }
 .carousel{
    width: 100% !important;
    margin:auto;
    margin-top: 0 !important;
    
 }
  .carousel-item img{

     height: 1000px;
            
 }
        
/*............... MENU ACHAT..............*/

.m-quick-buy {
        background-color:#000000;
        padding: 0 32px;
        line-height: 2.5rem;
        font-size: 0;
        width: 100%;
        position: relative;
        -webkit-transition: height 300ms ease;
        transition: height 300ms ease;
        overflow: visible;
        z-index: 21;
        line-height: 6.625rem;
}

.m-quick-buy__item {
    display: inline-block;
    padding-left: 24px;
   
}

.m-quick-buy__item .form-control .dynamic {
    border-radius: 0.5rem;
    border-color: #ec7532;
    border-width: 2px;
    color:white;
    font-weight: bold;
  
}
.m-quick-buy__item .dynamic {
  border-radius: 0.5rem;
  border-color: #ec7532;
  border-width: 2px;
  color:white;
  background-image:  -webkit-linear-gradient(169deg, #000000 17%, #000000  63%, #000000  100%);

}
.dynamic select:focus {
  box-shadow: 0 0 3pt 2pt #719ECE; 
  background-color: -webkit-linear-gradient(169deg, #5560ff 17%, #aa52a1 63%, #ff4343 100%);   
}
.dynamic{
    width: 15rem;
    margin-left: 10px;
    background-color: transparent;
    font-weight: bold;
    
}
.btnAchat{
    margin-left: 45px;
    background-color: #ec7532 !important;
    font-weight: bold;
}
.dynamic option{
    background: #ec7532!important;
 }
/*............... menu achat end..............*/




/*** Navigation ***/
.nbs-flexisel-nav-left {
	display:none;
}
.nbs-flexisel-nav-right {
	display:none;
}	
.review-slider {
	background: #dfb636;
	padding: 3em 0;
}
.video iframe {
	width:100%;
	min-height:480px;
}
.more-reviews{
	background:#fff;
	padding:3em 0;
}

/*..........................ARTIST CAROUSEL ...........*/

  
.artisttitr{
  margin: 30px 0 25px 0 !important;
  text-align: center !important;
}
.artisttext{
 
  text-align: center !important;
}
  
  .artistImg {
    display: block;
    width: 70%;
    border-radius: 50%;
    border: solid 3px #ec7532;
   
    
  }
  
  .ArtisiSection {
    width: 100%;
    overflow: hidden;
  }
  
  article {
    display: flex;
    width: 200%;
    animation: bannermove 20s linear infinite;
  }
  
  article.paused {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }
  
  .artistDiv {
    width: 100%;
  }
  
  .artisiUl{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }
  
  .artistLi {
    width: 70%;
    margin:10px;
  }
  
 
  
  @keyframes bannermove {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  /*..........................footer ...........*/
  .footer .list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: coral;
    border: none;
}
  
  .footerimg{
    width: 20px;
  }